<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>309769085223-jbas4u922abfe118ddgitlt80b2ll5c8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.309769085223-jbas4u922abfe118ddgitlt80b2ll5c8</string>
	<key>API_KEY</key>
	<string>AIzaSyBdmsPT8HPGmy8Ins0MeBT2fH_cWzu0x0M</string>
	<key>GCM_SENDER_ID</key>
	<string>309769085223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.feminova</string>
	<key>PROJECT_ID</key>
	<string>feminova</string>
	<key>STORAGE_BUCKET</key>
	<string>feminova.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:309769085223:ios:f0fe2d08391c68ca0a4902</string>
</dict>
</plist>